:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


#root{
  background-color:  white;
  min-height: 100vh;
}

div{
  color: red;
}

.pry_logo{
  height: 3rem;
}

nav ul li a {
  color: black;
}

ul li div img{
  height: 9em;
  width: 8.5em;
}


.footer_logo{
  height: 6em;
}